# Ignore everything
*

# But not these files...
!.gitignore
!.tmux.conf
!.profile
!.config/
!.config/nvim/*
!.config/nvim/lua/*
!.config/nvim/lua/plugins/*
!.config/i3/*
!.config/rofi/*
!.config/i3status/*
!.zshrc
!readme.md
